<div class="d-flex flex-column text-center mb-5 pt-5">
  <h1 class="display-4 m-0">Relatório de Clientes</h1>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 mb-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10%">Nome</th>
          <th style="width:10%">Email</th>
          <th style="width:10%">CPF</th>
          <th style="width:10%">Telefone</th>
          <th style="width:10%">CEP</th>
          <th style="width:20%">Rua</th>
          <th style="width:5%">Número</th>
          <th style="width:10%">Estado</th>
          <th style="width:10%">Cidade</th>
          <th style="width:10%">Bairro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.cep }}</td>
          <td>{{ cliente.rua }}</td>
          <td>{{ cliente.numero }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.cidade }}</td>
          <td>{{ cliente.bairro }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary py-3 px-5 ml-5" (click)="gerarRelatorioClientes()">Gerar relatório de Clientes</button>
  </div>
</div>
