<div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Relatório de Receitas</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 mb-5">
      <form>
        <label for="dataInicial">Data inicial:</label>
        <input type="date" id="dataInicial" name="dataInicial">
  
        <label for="dataFinal">Data final:</label>
        <input type="date" id="dataFinal" name="dataFinal">
  
        <button class="btn btn-primary btn-sm mb-1" type="button" onclick="filterByDate()">Filtrar</button>
      </form>
      <table class="table" #content>
        <thead>
          <tr>
            <th style="width:10%">Data</th>
            <th style="width:10%">Pedido</th>
            <th style="width:10%">Valor Recebido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receita of receitas">
            <td>{{receita.data}}</td>  
            <td>{{receita.pedido}}</td>
            <td>{{receita.valorRecebido}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary py-3 px-5 ml-5" (click)="gerarRelatorioReceitas()">Gerar relatório de receitas da empresa</button>
    </div>
  </div>