<div class="container-fluid pt-5">
  <div class="d-flex flex-column text-center mb-5 pt-5">
    <h1 class="display-4 m-0">Pedidos</h1>
  </div>
  <div class="row justify-content-center">
    <div >
      <form>
        <div class="row justify-content-center mb-2">
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="EM_ABERTO"
            />
            <label class="form-check-label" for="filterOpen">Aberto</label>
          </div>
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="AGUARDANDO_PAGAMENTO"
            />
            <label class="form-check-label" for="filterOpen">Aguardando Pagamento</label>
          </div>
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="PAGO"
            />
            <label class="form-check-label" for="filterOpen">Pago</label>
          </div>
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="FINALIZADO"
            />
            <label class="form-check-label" for="filterFinished">Finalizado</label>
          </div>
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="CANCELADO"
            />
            <label class="form-check-label" for="filterCancelled">Cancelado</label>
          </div>
          <div class="col-2 form-check">
            <input
              class="form-check-input"
              type="radio"
              name="filter"
              value="REJEITADO"
            />
            <label class="form-check-label" for="filterCancelled">Rejeitado</label>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn btn-primary btn-sm mb-1 ml-2" type="button" >Aplicar</button>
          <button class="btn btn-primary btn-sm mb-1 ml-2" type="button" >Limpar filtro</button>
        </div>

  <br>

  <table class="table">
      <tr>
          <th>Nº</th>
          <th>Peças</th>
          <th id="data-retirada">Data retirada</th>
          <th id="data-entrega">Data entrega</th>
          <th>Status</th>
          <th>Pagamento</th>
      </tr>
      <tr>
          <td>020</td>
          <td>1 Casaco, 2 calças</td>
          <td>02/09/2023 16:07:34</td>
          <td> </td>
          <td>Aguardando Pagamento</td>
          <td><a href="pagar-pedido" class="nav-item nav-link" class=OrderPayment>Pagar</a></td>
      </tr>
      <tr>
          <td>016</td>
          <td>4 Cuecas, 2 calças</td>
          <td>29/08/2023 14:02:51</td>
          <td></td>
          <td>Aberto</td>
          <td><a href="pagar-pedido" class="nav-item nav-link" class=OrderPayment>Pagar</a></td>
      </tr>
      <tr>
          <td>015</td>
          <td>2 Casacos</td>
          <td>29/08/2023 11:44:38</td>
          <td> </td>
          <td>Cancelado</td>
          <td></td>
      </tr>
      <tr>
          <td>014</td>
          <td>3 Camisetas, 2 calças</td>
          <td>28/08/2023 14:16:08</td>
          <td></td>
          <td>Aberto</td>
          <td><a href="pagar-pedido" class="nav-item nav-link" class=OrderPayment>Pagar</a></td>
      </tr>
      <tr>
          <td>011</td>
          <td>4 Calças, 3 meias, 1 casaco</td>
          <td>25/08/2023 11:35:20</td>
          <td> </td>
          <td>Rejeitado</td>
          <td></td>
      </tr>
      <tr>
          <td>010</td>
          <td>1 Camiseta, 3 meias</td>
          <td>24/08/2023 10:02:58</td>
          <td>28/08/2023 14:42:14</td>
          <td>Finalizado</td>
          <td class="OrderPaid">Pago</td>
      </tr>
      <tr>
          <td>009</td>
          <td>4 Cuecas, 2 calças</td>
          <td>23/08/2023 15:13:07</td>
          <td>27/08/2023 12:46:15</td>
          <td>Finalizado</td>
          <td class="OrderPaid">Pago</td>
      </tr>
      <tr>
          <td>003</td>
          <td>4 Camisetas</td>
          <td>17/08/2023 09:35:52</td>
          <td>21/08/2023 11:34:26</td>
          <td>Finalizado</td>
          <td class="OrderPaid">Pago</td>
      </tr>
      <tr>
          <td>002</td>
          <td>4 Camisetas</td>
          <td>16/08/2023 08:21:18</td>
          <td> </td>
          <td>Cancelado</td>
          <td></td>
      </tr>

  </table>
          <br><br>
      </form>
    </div>
  </div>
</div>
