<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">

      <div class="navbar-nav mr-auto py-0" *ngIf="mostrarCliente">
        <a href="pagina-inicial-cliente" class="nav-item nav-link">Pagina Inicial</a>
        <a href="order-online" class="nav-item nav-link">Pedido Online</a> <!--/*Ficará por enquanto no nav-bar apenas para ser acessado via navegador facilmente, depois irá para outra camada assim que o Login e Senha forem implementados*/-->
        <a href="listagem-pedidos" class="nav-item nav-link">Lista Pedidos</a> <!--Retirar depois do nav bar-->
        <a href="aprovacao-orcamento" class="nav-item nav-link">Aprov. Orça.</a>
        <a href="pagamento" class="nav-item nav-link">Pagamento</a>
      </div>
      
      <div class="navbar-nav mr-auto py-0" *ngIf="mostrarFuncionario">
        <a href="pagina-inicial-funcionario" class="nav-item nav-link">Pag. Inicial Funcionario</a>
        <a href="visualizacao-de-pedidos" class="nav-item nav-link">Visualizacao Pedidos Funcionario</a>
        <a href="manutencao-funcionario" class="nav-item nav-link">Manutenção</a><!--/provisório no nav-bar/-->
        <div class="dropdown" ngbDropdown>
          <a class="dropdown-item dropdown-toggle nav-item nav-link" ngbDropdownToggle id="relatoriosDropdown" role="button">
            Relatórios
          </a>
          <div ngbDropdownMenu aria-labelledby="relatoriosDropdown" class="dropdown-menu">
            <a ngbDropdownItem href="relatorios">Relatório de Clientes</a>
            <a ngbDropdownItem href="relatorio-clientes-fieis">Relatório de Clientes Fiéis</a>
            <a ngbDropdownItem href="relatorio-receitas">Relatório de Receitas</a>
          </div>
        </div>
        <a href="roupas" class="nav-item nav-link">CRUD-Roupas</a><!--/provisório no nav-bar/-->
      </div>

      <div class="navbar-nav ml-auto py-0" *ngIf="ncadastrado">
        <a href="login" class="nav-item nav-link">Login</a>
        <a href="autocadastro" class="nav-item nav-link">Autocadastro</a>
      </div>

    
      <div>
        <a class="nav-link ml-auto" href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
</div>
