<div class="d-flex flex-column text-center mb-5 pt-5">
  <h1 class="display-4 m-0">Relatório de Clientes Fiéis</h1>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 mb-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10%">Posição</th>  
          <th style="width:10%">Nome</th>
          <th style="width:10%">Email</th>
          <th style="width:10%">CPF</th>
          <th style="width:10%">Telefone</th>
          <th style="width:10%">Quantidade de Pedidos</th>
          <th style="width:10%">Receita Gerada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientesFieis">
          <td>{{ cliente.posicao }}</td>  
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.quantidadePedidos }}</td>
          <td>{{ cliente.receitaGerada }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary py-3 px-5 ml-5" (click)="gerarRelatorioClientesFieis()">Gerar relatório de Clientes fiéis</button>
  </div>
</div>
